.comment-list
  .item-wrapper
    padding: 10px
    margin-bottom: 20px
    background: #bae0ea
    .comment-content
      display: flex
      flex-direction: row
      .content-left
        flex: 0 0 50px
        margin-right: 10px
        .avatar-pic
          width: 50px
          height: 50px
          border-radius: 50%
      .content-right
        flex: 1
        display: flex
        flex-direction: column
        .content-top
          flex: 0 0 20px
          .username, .publishtime
            display: inline-block
            line-height: 20px
          .username
            float: left
            padding-left: 11px
          .publishtime
            padding-right: 13px
            float: right
        .comment-text
          flex: 1
          font-size: 15px
          line-height: 30px
          padding: 10px
          text-align: left
          text-indent: 30px
    .comment-message
      display: inline-block
      height: 30px
      text-align: right
      width: 100%
      .reply, .reoly, .good, .bad, .floor, .report
        display: inline-block
        height: 30px
        margin: 5px
        .ctext, .cpic
          vertical-align: top
          display: inline-block
        .ctext
          padding-top: 7px


              