.box
  .item
    float: left
    margin: 1%
    width: 31%
    .item-wrapper
      border: 1px solid #fff
      border-radius: 15px 15px 0 0px
      display: flex
      flex-direction: column
      .proname, .prolink, .progithub, .proarticle
        text-align: left
        flex: 0 1 30px
        line-height: 30px
        border-bottom: 1px solid #fff
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        a
          color: #2c3e50
          cursor: pointer
          span
            color: #2c3e50
            width: 80px
            display: inline-block
            padding-left: 5px
      .proname
        text-align: center
      .propic
        flex: 1
      .progithub
        background: #fff
@media screen and (max-width: 900px)
  .box
    .item
      float: left
      margin: 1%
      width: 47%
@media screen and (max-width: 500px)
  .box
    .item
      float: left
      margin: 1%
      width: 98%