.article-detail
  .edit-form
    width: 100%
    display: inline-block
    .edit-title-wrapper, .edit-summary-wrapper, .editorElem-wrapper, .edit-avatar-wrapper, .edit-label-wrapper
      display: block
      margin-bottom: 20px
      .edit-text
        display: block
        margin-bottom: 10px
      .edit-title, .edit-sumbit, .edit-summary, .editorElem, .edit-avatar
        box-sizing: border-box
        width: 100%
        background: #fff
      .edit-avatar
        height: 27px
      .pic-wrapper
        text-align: center
        border: 5px #fff solid
        .pic-box
          max-width: 100%
          max-height: 800px
    .edit-button-wrapper
      display: inline-block
      height: 40px
      width: 100%
      background: #fff
      display: flex
      .edit-submit, .edit-delete, .edit-draft
        display: inline-block
        height: 100%
        flex: 1
        background: #fff
        line-height: 40px
        text-align: center
      .edit-submit, .edit-draft
        border-right: 2px #e0e4cc solid
    .edit-label-wrapper
      .label-box
        display: flex
        flex-wrap: wrap
        padding: 10px 0px
        .label-wrapper
          flex: 0 1 auto
          display: inline-block
          background: #3b636e
          margin: 5px
          height: 30px
          line-height: 30px
          padding-right: 30px
          width: 100px
          color: #e0e4cc
          text-align: center
          position: relative
          .check-box
            position: absolute
            right: 0
            top: 0
            background: #3b636e
            height: 30px
            width: 30px
            .labelinput
              margin: 5px
              display: inline-block
              border-radius: 50%
              width: 20px
              height: 20px
.editorElem
  text-align: left