.button-wrapper
    background: #bae0ea
    display: flex
    padding: 5px
    .check, .turn, .delete, .collect, .watch, .publish, .loop
      height: 20px
      line-height: 20px
      margin: 5px
      flex: 1 1 auto
      text-align: center
      background: #f78585
      border-radius: 15px
      cursor: pointer