.article
  box-sizing: border-box
  background: #e0e4cc
  padding: 20px
  display: inline-block
  width: 100%
  .article-header, .return-wrapper
    border-left: 6px #3b636e solid
    background: #f78585
    font: 18px/20px "PT Sans",Arial,sans-serif;
    font-weight: bolder
    padding: 10px
    margin-bottom: 5px
    color: #fff
    text-align: left
  .return-wrapper
    height: 22px
    position: relative
    .returnP
      position: absolute
      left: 0
      padding-left: 10px
      top: 0
      width: 100%
      bottom: 0
      .returnicon
        height: 100%
      .returntext
        position: absolute
        left: 40px
        top: 0
        bottom: 0
        color: #fff
        line-height: 40px
        cursor: default
  .next-header
    margin-bottom: 5px
    border-left: 6px #3b636e solid
    background: #a1d0dd
    height: auto
    color: #3b636e
    font: 14px/20px "PT Sans",Arial,sans-serif;
    text-align: left
    padding: 10px 10px 2px 0
    .userName-wrapper, .articleLabel-wrapper, .publishTime-wrapper, .articleVisit-wrapper, .articleComment-wrapper
      display: inline-block
      padding: 0 10px
      .article-img, .article-text
        display: inline-block
      .article-text
        vertical-align: top
        .label-item
          font-size: 15px
          margin: 0 3px
          padding: 0 3px
          background: #5c8a97
          color: white
  .line
    height: 0
    margin: 15px 0px
    border: 2px #3b636e solid
  .paper
    display: flex
    padding: 0 14px
    .prevpaper, .nextpaper
      flex: 1
    .prevpaper
      text-align: left
    .nextpaper
      text-align: right
  .articleContent
    text-align: left
    width: 100%
  .article-footer
    width: 100%
    display: inline-block
    .articleLove, .articleShare, .or-wrapper
      display: inline-block
    .articleLove, .articleShare
      background: #fff
      height: 40px
      width: 20%
      min-width: 100px
      line-height: 40px
      .article-img, .article-text
        display: inline-block
      .article-text
        vertical-align: top
        color: #fff
    .articleLove
      background: #f78585
    .articleShare
      background: #a1d0dd
    .or-wrapper
      position: relative
      .or
        color: #000
        position: absolute
        top: -35px
        left: -15px
        width: 30px
        height: 30px
        border-radius: 50%
        background: #e0e4cc
        line-height: 30px
        font-family: PT Sans,Arial,sans-serif;
        font-size: 16px

