.border-article
  margin-top: 20px
  vertical-align: top
  border-bottom: 2px #2c3e50 solid
  border-left: 1px #5c8a97 solid
  border-right: 1px #5c8a97 solid
  padding: 0px 10px 10px 10px
  .border-title
    text-align: left
    font:16px/20px "PT Sans",Arial,sans-serif;
    font-weight: bolder
  .border-line
    width: 100%
    border-bottom: 2px #2c3e50 dotted