.user-lists
  .user-item
    display: flex
    flex-direction: column
    margin: 20px 0px
    .user-wrapper
      flex: 1
      height: 200px
      padding: 10px
      display: flex
      background: #bae0ea
      flex-direction: row
      .user-left
        flex: 0 0 50px
      .line
        width: 0
        flex: 0 0 auto
        border: 2px #3b636e solid
        margin: 0px 10px
      .user-right
        flex: 1
        display: flex
        flex-direction: column
        .right-item
          box-sizing: border-box
          padding-left: 20px
          flex: 0 0 38px
          line-height: 38px
          color: #3b636e
          border-bottom: 2px #3b636e dotted
    .button-wrapper
      flex: 1