.comment-wrapper
  .comment
    .publish-comment
      box-sizing: border-box
      display: inline-block
      width: 100%
      height: 170px
      border: 5px skyblue solid
      margin: 20px 0
      .operate
        height: 25px
        background: skyblue
      .writebox
        height: 135px
      .publish-text
        position: relative
        width: 100%
        height: 30px
        display: inline-block
        cursor: pointer
        .text
          text-align: center
          position: absolute
          background: #f57878
          color: white
          top: 0
          left: -5px
          right: -5px
          bottom: 0
          line-height: 30px
    