.user-form
  width: 100%
  .userwrapper, .useravatarurl-wrapper,
  .userdescription-wrapper
    display: block
    margin-bottom: 20px
    .user-text
      margin-bottom: 10px
    .username, .useravatarurl,
    .useremail, .userdescription,
    .userlink, .usergithub
      box-sizing: border-box
      width: 100%
      background: #fff
    .useravatarurl
      height: 27px
    .pic-wrapper
      text-align: center
      border: 5px #fff solid
      .pic-box
        max-width: 100%
        max-height: 800px
  .user-button-wrapper
    display: inline-block
    height: 40px
    width: 100%
    background: #fff
    display: flex
    .user-submit, .user-reset
      display: inline-block
      height: 100%
      flex: 1
      background: #fff
      line-height: 40px
      text-align: center
    .user-reset
      border-right: 2px #e0e4cc solid