.login-box
  background: rgba(0,0,0,0.2)
  position: absolute
  top: 10px
  bottom: 10px
  right: 10px
  left: 10px
  z-index: 1002
  box-shadow:0px 4px #3b636e inset,0px 12px 9px rgba(0,0,0,0.4) inset;
  padding: 20px 10px
  .line
    border: 2px #3b636e dotted
    height: 0
    margin: 10px 5px
  .username-wrapper, .password-wrapper, .submit-wrapper, .remember, .ymail-wrapper, .yzm-wrapper
    width: 100%
    font-size: 15px
    font-family: PT Sans,Arial,sans-serif
    .username, .password, .ymail, .yzm .yzm-input
      width: 180px
      box-shadow:0px 4px 3px rgba(0,0,0,0.3) inset;
      background: rgba(0,0,0,0.4)
      color: rgba(255,255,255,0.6)
    .yzm
      display: inline-block
      width: 148px
      height: 50px
      position: relative
      .yzm-input
        position: absolute
        top: 0
        left: 0
        bottom: 0
        width: 150px
        display: inline-block
    .text
      display: inline-block
      width: 90px
      box-shadow:0px 4px 3px rgba(0,0,0,0.3);
    .submit
      display: inline-block
      width: 270px
      box-shadow:0px 4px 3px rgba(0,0,0,0.3);
      background: rgba(0,0,0,0.2)
      color: rgba(255,255,255,0.6)
      height: 20px
      text-align: center
  .yzm-wrapper
    position: relative
  .remember, .register-wrapper
    height: 17px
    .remember-box, .register
      width: 132px
      display: inline-block
      box-shadow:0px 4px 3px rgba(0,0,0,0.3);
      height: 20px
      .retext
        height: 100%
        width: 100%
        display: inline-block
        padding-top: 3px
      .isre
        background: rgba(0,0,0,0.2)
      .checkbox
        width: 0
    .register
      width: 268px