.border-wrapper
  width: 100%
  background: #e0e4cc
  text-align: left
  box-sizing: border-box
  position: relative
  min-height: 700px
  .operate
    background: #88bfd4;
    width: 150px
    display: inline-block
    position: absolute
    color: #e0e4cc
    padding-top: 100px
    top: 0
    bottom: 0
    box-sizing: border-box
    .operate-item
      width: 80%
      margin-left: 10%
      height: 50px
      line-height: 50px
      display: inline-block
      text-align: center
      transition: all 0.3s
      border-radius: 25px
    .active
      background: #3b636e
  .content
    padding: 20px
    margin-left: 150px